



.audio_player {
    display: flex;
    align-items: center;
    background-color: rgb(44, 42, 42);
    border-radius: 10px;

    .nt {
        color: whitesmoke;
    }

    .flex {
        display: flex;
        flex-direction: column;
        .navbar {

            .ppbutton {
                margin-bottom: 25px;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }


            .player_controls {
                display: flex;
                flex-direction: column;
                align-items: center;


                .timebar {
                    position: relative;
                    width: 170px;    
                    height: 10px;
                    background-color: #ddd;
                    border-radius: 5px;
                    cursor: pointer;
                    margin: 10px 0;

                    .progress {
                        background-color: #ddd;
                        border-radius: 5px;
                        overflow: hidden;

                        .progress_bar {
                            background-color: rgba(0, 128, 0, 0.616);
                            height: 10px;
                        }
                    }

                    .timebar_circle {
                        position: absolute;
                        top: -3px;
                        width: 15px;
                        height: 15px;
                        background-color: #007bff;
                        border-radius: 50%;
                        transform: translateX(-50%);
                        transition: left 0.1s ease;
                    }
                }
                .time_info {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 5px;
                }
            }
        }
    }

    
}