

.navbar {
    display: flex;
    align-items: center;
    margin-top:100px ;
    justify-content: center;

    .start {
        width: 50%;
        padding: 30px ;
        background-color: rgba(0, 128, 0, 0.616);
        cursor: pointer;
        color: rgba(255, 255, 255, 0.774);
        font-size: 2em;
        border: 5px solid rgb(32, 150, 32);
        border-radius: 9px;
        transition: .5s;
        &:hover {
            background-color: rgb(32, 150, 32);
        }
}
}